<!DOCTYPE html>
<head>
    <title>home</title>
    <link rel="stylesheet" href= "/style_uc.css">
</head>

<body>
    <!--add class names for stylesheet-->
    <nav>
        <a href="/">Home</a>
        <a href="/trivia">Play Trivia</a>
        <a href="/cityExplorer">City Explorer</a>
        <a href="/leaderboard">Leaderboard</a>
    </nav>

    <div class="homecontainer">
        <div class="slogandiv">
            <h1>Discover the [placeholder] Cities of
            the World.
            </h1>
        </div>
        <div class="imgdiv">
            <!--just a static img for now, but featured city for loop thingy if we have time?-->
            <img class="homePhoto"src = "/medellinPhoto.jpg">
        </div>
    </div>
</body>