<%- include('../partials/head', { page_title: "Home" }) %>
<body>
    <div class="homecontainer">
        <div class="slogandiv">
            <h1>Discover the <span style="color:#4F39F6;">Underrated</span> Cities of
            the World.
            </h1>
            <p1>
                Most people only know the giants. UrbanCache puts the spotlight on vibrant, influential, but lesser known cities. Test your knowledge and explore the world beyond postcards and magnets.
            </p1>
            <div class="homeButtons">
                <a href="/trivia">
                    <button class= triviaButton>Play Trivia</button>
                </a>
                <a href="/cityExplorer">
                    <button class= explorerButton>Explore Cities</button>
                </a>
            </div>
            
        </div>
        <div class="imgdiv">
            <!--just a static img for now, but featured city for loop thingy if we have time?-->
            <img class="homePhoto"src = "/medellinPhoto.jpg">
        </div>
    </div>
</body>
<%- include('../partials/foot') %>