.body {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.homecontainer {
    display: flex;
    margin-top: 150px;
    padding: 50px;
   
}

.slogandiv {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.homeButtons{
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 20px;
}
.triviaButton, .explorerButton {
    width:115px;
    height: 25px;
    color:white;
    background-color: blueviolet;
    border-radius: 5px;
}


.imgdiv {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePhoto{
    width: 100%;
    max-width: 400px;  
    height: auto;      
    border-radius: 8px;
}

