/* for custom font! */
@font-face {
    font-family: 'Afacad';
    src: url('/Afacad.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Afacad', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span {
    font-family: 'Afacad', sans-serif;
}

/* for home*/
/*body {
    
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
*/

.homecontainer {
    display: flex;
    margin-top: 150px;
    padding: 50px;
}

.slogandiv {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.imgdiv {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePhoto {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

/*for city explorer */
.citySquare {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 20%;
    aspect-ratio: 1/1;
}

.cityimg {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*for city page*/

.city-header {
    position: relative;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.city-header-overlay {
    width: 100%;
    padding: 15px 30px 15px 50px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
    box-sizing: border-box;
}

.city-header-overlay h1 {
    margin: 0 0 0px 0;
    font-size: 70px;
    text-transform: uppercase;
}

.city-header-overlay p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.city-main {
    display: flex;
    margin: 30px 150px;
    gap: 20px;
}

.city-left {
    flex: 3;
    font-size: 18px;
}

.city-right {
    flex: 1;
    background: blueviolet;
    padding: 15px;
    color: white;
    border-radius: 15px;
}

.overview-short {
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-top: 0px;
    font-size: 18px;
    font-style: italic;
}

.overview-short h3 {
    font-style: bold;
}

/* for navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 12px 0;
    position: sticky;
    padding-left: 0;
    padding-right: 15px;
}

.title {
    font-weight: bold;
    font-size: 1.4rem;
    color: #151515;
    justify-content: center;
    padding: 0 0 5px 20px;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #202020;
    margin: 0 20px;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 18px;
}

.navbar a:hover {
    background-color: blueviolet;
    color: #fff;
}

/* .allsquares {
    display: grid;
    grid-template-columns: (20px 20px auto)
}
 */


 /* For Leaderboard */
.leaderboard-title {
    text-align: center;
    text-transform: uppercase;
}

.leaderboard-subtitle {
    text-align: center;
}

.top-three-score-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

.top-three-score-card-wrapper .image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 20px auto;
}

.top-three-score-card-wrapper .image-placeholder {
    background-color: grey;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 20px auto;
}

.top-three-score-card-wrapper .number {
    background-color: #4F39F6;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 10px auto;
}

.top-three-score-card-wrapper .username {
    font-size: 30px;
    margin: 15px auto;
}

.top-three-score-card-wrapper .score {
    font-size: 30px;
    margin: 10px auto 5px auto;
}

.top-three-score-card-wrapper .caption {
    font-size: 18px;
    margin: 2px auto 20px auto;
}

.top-three-score-card-wrapper div {
    border: solid 1px grey;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    color: #4F39F6;
    background-color: #F6F6F6;
}

.top-three-score-card-wrapper .number-1-score-card {
    border: none;
    background-color: #4F39F6;
    color: white;
}

.top-three-score-card-wrapper  .number-1-score-card .number {
    background-color: white;
    color: #4F39F6;
}

.scoreboard {
    border: solid 1px grey;
    border-radius: 15px;
    background-color: #F6F6F6;
    text-transform: uppercase;
    margin-left: 3%;
    margin-right: 3%;
}

.scoreboard li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scoreboard li::before {
    content: counter(item) ".";
    counter-increment: item;
}

ol.scoreboard {
    counter-reset: item;
    list-style: none;
}

.scoreboard li .score-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    margin-right: 30px;
}

.scoreboard li .user-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.scoreboard li .image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.scoreboard li .points-wrapper {
    text-align: right;
}

.scoreboard li .score {
    color: #4F39F6;
    margin-top: 0;
}

.scoreboard li .caption {
    font-size: 18px;
    margin-bottom: 0;
}

/* For Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f1f1;
    padding: 12px 0;
    padding-left: 0;
    padding-right: 15px;
}

.footer a {
    color: #202020;
    margin: 5px;
    text-decoration: none;
    padding: 8px;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-weight: 500;
    font-size: 14px;
}

.footer a:hover {
    background-color: blueviolet;
    color: #fff;
}
 /*TRIVIA PAGE CSS*/
 .questionAndScoreDiv{
    position: relative;
    width: 100%;
    height: 10vh;       /*full screen*/

 }
 
 .question{
/* commenting these out because we don't want question div to be the entire page anymore */
  /* width: 100vw;
  height: 100vh; */
  display:flex;
  justify-content:center;
  align-items: center;
  height: 100%;

  

 }

 .individualQuestion {
    background-color: rgb(189, 215, 241);
    border-radius: 5px;
    padding: 15px;

 }

.questionAndScoreDiv .score {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
}


 /*map styling stuff */
 .map{
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
}

/* POPUP ALERT BOX STYLING HERE */
.popups {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000;
  }

.popupContent {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    border-radius: 8px;
    position: relative;
}

.closerButton {
  float: right;
  cursor: pointer;
  font-size: 24px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#instruction_popup{

}
