.body {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.homecontainer {
    display: flex;
    margin-top: 200px;
   
}

.slogandiv {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgdiv {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePhoto{
    width: 100%;
    max-width: 400px;  
    height: auto;      
    border-radius: 8px;
}

